<div class="row">
  <div class="col-md-12">
    <section class="card">
      <div class="card-body bio-graph-info">
        <div class="row p-details">
          <div class="bio-row">
            <p><span class="bold">Customer ID </span>: <%= @customer.id %></p>
          </div>
          <div class="bio-row">
            <p><span class="bold">User Name </span>: <%= @customer.username %></p>
          </div>
          <div class="bio-row">
            <p><span class="bold">customer_type </span>: <%= @customer.customer_type %></p>
          </div>
          <div class="bio-row">
            <p>
              <span class="bold">
                Date of Birth 
              </span>: 
              <%= format_date(@customer.date_of_birth) %>
            </p>
          </div>
          <div class="bio-row">
            <p><span class="bold">gender </span>: <%= @customer.gender %></p>
          </div>
          <div class="bio-row">
            <p><span class="bold">phone_number </span>: <%= @customer.phone_number %></p>
          </div>
          <div class="bio-row">
            <p>
              <span class="bold">
                Created At
              </span>: 
              <%= format_date_time @customer.created_at %>
            </p>
          </div>
          <div class="bio-row">
            <p>
              <span class="bold">
                Updated At
              </span>: 
              <%= format_date_time @customer.updated_at %>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>